<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Your Triangle:</h1>
    <p>Base: @Model.GetBase() <br>
      Height: @Model.GetHeight() <br>
      Hypotenuse: @Model.GetHypotenuse() <br>
      Area: @Model.GetArea() <br>
      Type: @Model.GetTriangleType() </p>
  </body>
</html>
